.login {
  background-image: url("../../assets/images/background3.jpg");
  display: flex;
  position: initial;
  background-size: cover;
  width: 80%;
  height: 80%;
  border-radius: 0 0 600px 500px;
  &__section {
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    padding: 130px 50px 264px 88px;
    &--title {
      font-size: 60px;
      color: white;
      text-shadow: -3px 3px 0 black;
    }
    &--subtitle {
      margin-top: 10px;
      font-size: 30px;
      color: white;
      text-shadow: -2px 3px 0 black;
    }
  }
}

@media (min-width: 200px) and (max-width: 950px) {
  #login-escritorio {
    display: none;
  }
  .movil {
    background-image: url("../../assets/images/background3.jpg");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    background-size: cover;
    h1 {
      text-align: center;
      margin-top: 50px;
      font-size: 35px;
      color: white;
      text-shadow: -3px 3px 0 black;
    }
    p{
      margin-bottom: 50px;
      text-align: center;
      margin-top: 10px;
      font-size: 30px;
      color: white;
      text-shadow: -2px 3px 0 black;
    }
    &--login {
      display: flex;
      justify-content: center;
      align-items: initial;
      
    }
  }
}
@media (min-width: 951px) and (max-width: 3440px) {
  #login-movil {
    display: none;
  }
}
